.alert-md .alert-title {
    font-size: 18px;
}

page-home {
    .toolbar-ios {
        ion-title {
            padding: 0 70px 1px;
        }
    }

    ion-label {
        font-size: 20px;

        img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

audio-list {
    ion-title {
        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }

    ion-item {
        label {
            display: block;
            margin-bottom: 10px;
            color: #353535;
            font-size: 16px;
            white-space: normal;
        }

        button {
            background: none;
            padding: 5px;
            margin-right: 10px;

            ion-icon {
                border: 2px solid #353535;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 25px;
                font-size: 20px;
                color: #353535;
            }
        }
    }
}